@import "../../styles/variables.css";

.footer {
    display: flex;
    align-items: center;
    height: 137px;
    background: var(--green);
    justify-content: space-between;

}

.logo {
    width: 141px;
    height: 141px;
    margin-left: 49px;
    margin-top: 8px;
}

.info {
    text-align: right;
    margin-right: 55px;
    color: var(--white);
    font-family: 'Inter', sans-serif;
    line-height: 2px;
    letter-spacing: 0.04em;
    margin-top: 5px;
    margin-bottom: 15px;
}

.address {

    font-size: 14px;

}

.copyright {
    margin-top: 35px;
    font-size: 12px ;

}

